{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <link rel = "stylesheet" href = "/static/classfive/classfive.css">

    <!-- social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="Content-Security-Policy" content="
  default-src 'self';
  style-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com;
  font-src 'self' https://cdnjs.cloudflare.com data: http://static.parastorage.com;
  img-src 'self' data: https://www.youtube.com;
  frame-src 'self' https://www.youtube.com;
  report-uri /csp-report-endpoint;
">
    <link rel="icon" href="{% static '/classfive/images/favicon.png' %}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div class = "container-fluid gx-0">
    <!-- navbar -->
    <nav id="navbar" class = "navbar navbar-expand-md nav-bg-black navbar-dark fixed-top">
      <a class = "navbar-brand" href = "../classfive/">
          <img src = "{% static '/classfive/images/logo.png' %}" alt = "logo" class = "navbar-logo">
      </a>
      <button class = "navbar-toggler" type = "button" data-bs-toggle = "collapse" data-bs-target = "#collapsibleNavbar">
        <span class = "navbar-toggler-icon"></span>
      </button>
      <div class = "collapse navbar-collapse justify-content-end" id = "collapsibleNavbar">
        <ul class = "navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="../classfive/">
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="events">
              Events
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="merch">
              Merch
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="philosophy">
              Philosophy
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="team">
              Team
            </a>
          </li>
          <!--
          <li class="nav-item">
            <a class="nav-link" href="training">
              Training & Development
            </a>
          </li>
          -->
          <li class="nav-item">
            <a class="nav-link nav-link-last" href="contact">
              Contact
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!-- content -->
    <div class = "content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- footer -->
    <footer>
      <img src = "{% static '/classfive/images/footerLogo.png' %}" alt = "logo" class = "footer-logo">
      <div class = "footer-links">
        <a href="mailto:info@c5climbing.com" class = "contact-us">info@c5climbing.com</a>
        <a href = "https://www.instagram.com/team_classfive" class = "fa fa-instagram"></a>

        <!-- SUBSCRIBE -->
        <form action="https://gmail.us13.list-manage.com/subscribe/post?u=45bf9e2e4bec7fc2a309d8bf3&amp;id=bacc632859&amp;f_id=0056b3e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll" class = "subscribe-footer">
            <div class="mc-field-group subscribe-footer-text">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email" required>
            </div>
            <div id="mce-responses" class="clear foot">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45bf9e2e4bec7fc2a309d8bf3_bacc632859" tabindex="-1" value=""></div>
                <div class="optionalParent">
                  <div class="clear foot">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn rounded-0 subscribe-footer-button">
                  </div>
                </div>
          </div>
        </form>
      </div>
    </footer>
</body>
</html>