{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Calendar | Class Five Climbing{% endblock %}

{% block content %}
  <div class = "container events">
    <div class = "row">
      {% for cardInstance in cardInstances %}
        <div class="col-md-4">
          <div class="card">
            <img class="card-img-top" src="{{ cardInstance.img.url }}" alt="Card image" style="width:100%">
            <div class="card-body">
              <p class = "card-date">{{ cardInstance.date }}</p>
              <div class="card-title">{{ cardInstance.title }}</div>
              <p class="card-text">{{ cardInstance.desc }}</p>
              <a href="{{ cardInstance.link }}" class="btn btn-card">REGISTER</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}