{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Contact | Class Five Climbing{% endblock %}

{% block content %}

  {% if success_message %}
    <br><br>
    <h1 class="success-message">{{ success_message }}</h1>
  {% endif %}

  <!-- INTAKE FORM -->

  <!-- dropdown menu is ugly but ill fix later -->
  <h2 class = "header">CONTACT US</h2>
  <div class = "intake-form">
    <form method="post" action="{% url 'classfive:contact' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-outline rounded-0 intake-form-btn" type="submit">Submit</button>
    </form>
  </div>

{% endblock %}