{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Contact | Class Five Climbing{% endblock %}

{% block content %}

  {% if success_message %}
    <br><br>
    <h1 class="success-message">{{ success_message }}</h1>
  {% endif %}

  <!-- INTAKE FORM -->

  <!-- dropdown menu is ugly but ill fix later -->
  <h2 class = "header">CONTACT US</h2>
  <div class = "intake-form">
    <form method="post" action="{% url 'classfive:contact' %}">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-outline rounded-0 intake-form-btn" type="submit">Submit</button>
    </form>
  </div>

  <!--
  <div class = "subscribe">
  -->
    <!-- MAILCHIMP FORM -->
    <!--
    <div>
      <form action="https://gmail.us13.list-manage.com/subscribe/post?u=45bf9e2e4bec7fc2a309d8bf3&amp;id=bacc632859&amp;f_id=0056b3e2f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        <h2 class = "subscribe-header">JOIN OUR MAILING LIST</h2>
        <div class="indicates-required subscribe-text"><span class="asterisk">*</span>indicates required</div>
        <div class="mc-field-group subscribe-text">
          <label for="mce-EMAIL">Email Address: <span class="asterisk">*</span></label>
          <input type="email" value="" name="EMAIL" class="required email subscribe-box" id="mce-EMAIL" required>
          -->
          <!-- <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span> -->
        <!--
        </div>

        <div class="mc-field-group input-group subscribe-text checkbox-container">
          <br><strong>What are you interested in?</strong>
          <ul>
            <li>
            <input type="checkbox" value="1" name="group[699917][1]" id="mce-group[699917]-699917-0">
            <label for="mce-group[699917]-699917-0">Team events</label>
            </li>
            <li>
              <input type="checkbox" value="2" name="group[699917][2]" id="mce-group[699917]-699917-1">
              <label for="mce-group[699917]-699917-1">Community</label>
            </li>
            <li>
              <input type="checkbox" value="4" name="group[699917][4]" id="mce-group[699917]-699917-2">
              <label for="mce-group[699917]-699917-2">Other</label>
            </li>
          </ul>
            <span id="mce-group[699917]-HELPERTEXT" class="helper_text"></span>
        </div>
        -->
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <!--
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_45bf9e2e4bec7fc2a309d8bf3_bacc632859" tabindex="-1" value=""></div>
          <div class="optionalParent">
              <div class="clear foot">
                  <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-outline rounded-0 subscribe-button">
              </div>
          </div>
          <div id="mce-responses" class="clear foot">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    -->
    <!--End mc_embed_signup--> 
  <!--
  </div>
  -->
{% endblock %}