{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Home | Class Five Climbing{% endblock %}

{% block content %} 

  <div class="row">

    <div class="embed-responsive embed-responsive-16by9 yt-video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oWKfyp4bQo0?" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <p class="team-text">In climbing, flow is everything. Moving fluidly from one move to the next until the top, fully immersed in the movement. Dive into the mind of Class Five and La Sportiva climbing athlete Ross Fulkerson as he enters his flow state.</p>
  </div>
{% endblock %}
