{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Philosophy | Class Five Climbing{% endblock %}

{% block content %}

  <div class = "row">
    <br/>
    <p class = "team-text">
    The "Mission is Movement" philosophy is all-encompassing. Serving as our North Star, we strive for movement mastery and to disrupt traditional approaches that emphasize the goal of climbing strong. <br/><br/>
    Shifting the focus to climbing well, not strong, our training focuses on the importance of body positioning, timing, momentum, and visualization. <br/><br/>
    Grounded in highly technical coaching, that is enriched by sports psychology, athlete mentorship, and foundational strength and conditioning, our program is personalized to support each climber's unique needs and potential.
    </p>

  </div>
</div>
<div> <!-- add to prevent scrolling within the container events div-->
{% endblock %}
