{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}About | Class Five Climbing{% endblock %}

{% block content %}

  <div class = "row">
    <img src = "{% static '/classfive/images/team.jpg' %}" class = "team-img">
    <p class = "team-text">
    Established in 2021, Class Five is led by founder and head coach Alvaro Rangel, who has 12+ years of experience as a route setter and climbing coach and has coached for Team USA at adult and youth world championships.<br/><br/>
Over the past two years, the Class Five youth team has won national team banners for performing as one of the top 3 teams in the nation. Small but mighty, and based out of San Diego, CA we believe in dreaming big and trying hard!<br><br>
    Embodying "The Mission is Movement" philosophy, we strive for movement mastery and to disrupt traditional approaches to climbing performance.
    Grounded in highly technical coaching that is enriched by sports psychology, athlete mentorship, and foundational strength and conditioning, our program is personalized to support each climber's unique needs and potential.
    </p>
  </div>
</div>
<div> <!-- add to prevent scrolling within the container events div-->
{% endblock %}
