{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Philosophy | Class Five Climbing{% endblock %}

{% block content %}

  <div class = "row">
    <img src = "{% static '/classfive/images/8I4A3128.jpeg' %}" class = "team-img">
    <p class = "team-text">
    "The Mission is Movement" philosophy is all encompassing. Serving as our North Star, we strive for movement mastery and to disrupt traditional approaches to climbing performance.<br/><br/>
    Grounded in highly technical coaching, that is enriched by sports psychology, athlete mentorship and foundational strength and conditioning, our program is personalized to support each climber's unique needs and potential.<br/><br/>
    </p>
  </div>
</div>
<div> <!-- add to prevent scrolling within the container events div-->
{% endblock %}
