{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Team | Class Five Climbing{% endblock %}

{% block content %}
<h2 class = "header">TEAM MEMBERS</h2>
<div class = "container events">
  <div class = "row">
    <img src = "{% static '/classfive/images/team.jpeg' %}" class = "team-img">
    <p class = "team-text">
      Welcome to San Diego's dedicated competitive climbing team at the Wall Climbing Gym. "The mission is movement" is our guiding motto. Established in 2021 and mentored by Alvaro Rangel, an experienced coach versed in both Youth and Senior National levels, we're deeply rooted in the community here in San Diego. Our athletes, driven by our mission, are committed to their training and have made their mark on both national and international stages. We pride ourselves on our highly technical coaching approach, which is not only enriched by elements of sports psychology and foundational strength and conditioning training but is also deeply personalized to each climber. This tailored and individualized approach is designed to cultivate our climbers' skills and potential.
    </p>

    {% for teamMemberInstance in teamMemberInstances %}
      <div class="col-md-4">
        <div class="card card-team">
          <div class = "card-img-container">
            <img class="card-img-top" src="{{ teamMemberInstance.img.url }}" alt="Card image">
          </div>
          <div class="card-body">
            <div class="card-title">{{ teamMemberInstance.title }}</div>
            <p class="card-text">{{ teamMemberInstance.desc }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div> <!-- add to prevent scrolling within the container events div-->
{% endblock %}