{% extends 'classfive/base.html' %}
{% load static %}

{% block title %}Team | Class Five Climbing{% endblock %}

{% block content %}
<div class = "container events">
  <div class = "row">
    <img src = "{% static '/classfive/images/team.jpg' %}" class = "team-img">
    <p class = "team-text">
    Team Class Five is a competitive rock climbing team and elite training program that prepares athletes for the highest level of competition.<br/><br/>
    Established in 2021, founder and head coach Alvaro Rangel has 12+ years of experience as a route setter and climbing coach and has coached for Team USA at adult and youth world championships. <br/><br/>
    Over the past two years, the Class Five youth team has won national team banners, for performing as one of the top 3 teams in the nation. Small but mighty, and based out of San Diego, CA, we believe in dreaming big and trying hard!
    </p>

    {% for teamMemberInstance in teamMemberInstances %}
      <div class="col-md-4">
        <div class="card card-team">
          <div class = "card-img-container">
            <img class="card-img-top" src="{{ teamMemberInstance.img.url }}" alt="Card image">
          </div>
          <div class="card-body">
            <div class="card-title">{{ teamMemberInstance.title }}</div>
            <p class="card-text">{{ teamMemberInstance.desc }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div> <!-- add to prevent scrolling within the container events div-->
{% endblock %}
