@font-face {
    font-display: block;
    font-family: "DIN-Next-W01-Light";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3e0b2cd7-9657-438b-b4af-e04122e8f1f7.eot?#iefix") format("eot"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/bc176270-17fa-4c78-a343-9fe52824e501.woff") format("woff"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/3516f91d-ac48-42cd-acfe-1be691152cc4.ttf") format("truetype"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d1b1e866-a411-42ba-8f75-72bf28e23694.svg#d1b1e866-a411-42ba-8f75-72bf28e23694") format("svg");
}

@font-face {
    font-display: block;
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix");
    src: url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/6af9989e-235b-4c75-8c08-a83bdaef3f66.eot?#iefix") format("eot"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/ccd17c6b-e7ed-4b73-b0d2-76712a4ef46b.ttf") format("truetype"),
        url("//static.parastorage.com/services/third-party/fonts/user-site-fonts/fonts/20577853-40a7-4ada-a3fb-dd6e9392f401.svg#20577853-40a7-4ada-a3fb-dd6e9392f401") format("svg");
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInBottom {
    0% {
        left: 50%;
        transform: translate(-50%, 200%);
    }
}

/* container */
.container-fluid {
    margin-left: 0;
}

/* body */
body {
    background-color: black;
    /* cursor: url("images/cursor.png"), url("images/logoLg.png"), auto; */
    /* how do i make it not disappear */
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    overflow-x: hidden;
    /* prevents horizontal scrolling on mobile */
}

li {
    list-style-type: none;
}

/* navbar */
nav {
    animation: slideInTop ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
}

.navbar {
    padding-bottom: 0.5rem;
}

.nav-bg-black {
    background-color: black !important;
}

.navbar-brand {
    margin-left: 1rem;
    width: 280px;
    margin-right: 0;
}

.navbar-logo {
    width: 50%;
    /* padding-bottom: 15px; */
}

.nav-item {
    font-family: "DIN-Next-W01-Light";
    font-size: 1rem;
    color: white;
    background-color: black;
}

.nav-link {
    padding: 0.5rem !important;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    color: white;
    border: 1px solid transparent;
}

.nav-link-last {
    margin-right: 1.5rem !important;
}

.nav-link:hover {
    /* cursor: url("images/cursor.png"), url("images/logoLg.png"), auto; */
    color: white;
    border: 1px solid white;
}

.navbar-toggler {
    border-color: black;
    color: white;
    margin-right: 0.5rem;
}

.navbar-toggler:hover {
    border: 1px solid white;
    border-radius: 0;
}

.navbar-toggler-icon {
    background-image: none;
    margin-top: 0.7rem;
}

.navbar-toggler-icon::before {
    font-family: FontAwesome;
    content: "\f0c9";
    /* fa-bars, fa-navicon */
}

/* text */
.text {
    position: relative;
    text-align: left;
    padding-left: 10%;
    color: white;
    background-color: black;
    left: 50%;
    transform: translate(-50%);
}

.cta {
    padding-top: 5vh;
    margin-bottom: 5vh;
}

.cta-title {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    position: relative;
    color: white;
    /* font-size: 3.8rem; */
    font-size: 4vw;
    line-height: 1.2;
}


.show-on-mobile {
    display: none;
}

@media (max-width: 450px) {

    .plastic-classic-img {
        width: 100% !important;
        height: auto !important;
        max-height: 50vh !important;
        object-fit: contain !important;
    }

    .plastic-classic-text {
        top: 52vh !important;
    }

    @media (max-width: 404px) {
        .plastic-classic-img {
            width: 100% !important;
            height: auto !important;
            max-height: 50vh !important;
            object-fit: contain !important;
            /* This will scale the image down to fit within the area, no cropping */
        }

        .plastic-classic-text {
            top: 52vh !important;
        }
    }

    .show-on-mobile {
        display: block;
        top: 33vh;
    }

    .content {
        margin-top: 4vh !important;
    }

    .carousel-img {
        position: absolute;
        width: auto;
        height: auto;
        object-fit: cover;
    }

    .carousel-title {
        font-size: 1.9rem !important;
    }

    .carousel-text {
        font-size: 90%;
        width: 100% !important;
    }

    .card-events {
        height: auto !important;
    }

    .card-body {
        padding-bottom: 1rem;
    }

    .card-img-container {
        height: 80vw !important;
    }

    .header {
        font-size: 3rem !important;
    }

    h1 {
        font-size: 2rem;
    }

    .nav-link-last {
        margin-right: 1rem !important;
        padding-right: 1rem !important;
    }

    .pendulum {
        margin-top: 25vh !important;
        width: 110px !important;
        /* adjustable */
        height: 100px !important;
        /* adjustable */
        border-top: 7px solid white !important;
    }

    .pendulum_box {
        padding: 60px 0 0 5px !important;
    }

    .ball {
        height: 20px !important;
        width: 20px !important;
    }

    .ball::before {
        height: 60px !important;
        left: 9px !important;
        top: -60px !important;
    }

    .coming-soon {
        font-size: 1.5rem !important;
        margin-bottom: 15vh !important;
    }

    .team-text {
        font-size: 1rem !important;
    }
}

.cta-text {
    font-family: "DIN-Next-W01-Light";
    position: relative;
    margin-top: 1rem;
    color: white;
    font-size: 1rem;
}

.col-img {
    margin-bottom: 1.5rem;
}

.row {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
}

/* buttons */
.btn-outline {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    position: relative;
    margin-top: 2rem;
    background-color: white;
    color: black;
    border-color: white;
    font-size: 2rem;
}

.btn-outline:hover {
    /* cursor: url("images/cursor.png"), url("images/logoLg.png"), auto; */
    background-color: black;
    color: white;
    border-color: white;
}

.btn-chevron {
    display: block;
    margin-top: 10vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: 1px solid black;

    animation: slideInBottom ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn-chevron:hover {
    /* cursor: url("images/cursor.png"), url("images/logoLg.png"), auto; */
    background-color: black;
    color: white;
    border: 1px solid white;
}

.bi-chevron-down {
    display: block;
    width: 2rem;
    height: 2rem;
    fill: currentColor;
}

.carousel {
    margin-top: 3vh !important;
}

.carousel-img {
    width: 100%;
}

.carousel-button {
    font-size: 1.2rem;
    margin: 0;
}

.carousel-button:hover {
    background-color: transparent;
}

/* content */
.content {
    display: block;
    position: relative;
    overflow-x: hidden;
    margin-top: 2vh;
}

/* logo */
.logo-lg {
    position: relative;
    /* center image horizontally */
    left: 50%;
    transform: translate(-50%);
    height: 60vh;
    margin-top: 20vh;
    margin-bottom: 20vh;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.carousel-item {
    object-fit: cover;
    object-position: center;
    height: 90vh;
    overflow: hidden;
}

.carousel-item:before {
    top: 0;
    width: 100vw;
    height: 100vh;
}

.carousel-caption {
    bottom: 10%;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.carousel-title {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    font-size: 3rem;
    margin-top: 0.6rem;
    margin-bottom: 0.8rem;
}

.carousel-text {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.yt-video {
    padding-top: 0rem;
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
}

.yt-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* members */
.events {
    position: relative;
}

.card-events {
    /* navbar height is 93 pixels */
    top: 1rem;
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 0;
    margin-bottom: 10%;
    height: 600px;
}

.card-team {
    /* navbar height is 93 pixels */
    top: 1rem;
    background-color: black;
    border-color: white;
    color: white;
    border-radius: 0;
    margin-bottom: 10%;
    height: 500px;
}


.card-img-container {
    height: 375px;
    overflow: hidden;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    /* supposed to cut out the edges and leave the center of the image but thats not whats happening rn*/
    border-radius: 0;
}

.card-date {
    font-family: "DIN-Next-W01-Light";
    font-size: 1.2rem;
    margin-bottom: 0;
}

.card-title {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    font-size: 2rem;
}

.card-text {
    font-family: "DIN-Next-W01-Light";
    font-size: 1rem;
}

.btn-card {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    position: relative;
    background-color: white;
    color: black;
    border-color: white;
    font-size: 1rem;
    border-radius: 0;
}

.btn-card:hover {
    background-color: black;
    color: white;
    border-color: white;
}

/* subscribe */
.subscribe {
    display: flex;
    margin-top: 12vh;
    justify-content: center;
    background-color: black;
    width: 80%;
    margin-left: 50vw;
    /* center */
    /* center within center */
    left: 50%;
    transform: translate(-50%);
    /* border: 2px solid white; */
}

.response {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    font-size: 1.5rem;
    color: white;
    /* Replace with your desired color */
}

.subscribe-header {
    position: relative;
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    color: white;
    font-size: 3.8rem;
    line-height: 1.2;
    text-align: center;
    margin-top: 2rem;
}

.subscribe-box {
    border: 1px solid white;
}

.subscribe-text {
    font-family: "DIN-Next-W01-Light";
    position: relative;
    margin-top: 2rem;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 0;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.subscribe-button {
    margin-left: auto;
    /* center */
    /* center within center */
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    width: 40%;
    margin-bottom: 2rem;
}

.success-message {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 0;
    border: 1px solid white;
}

.indicates-required {
    font-size: 0.8rem;
}

.header {
    position: relative;
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    color: white;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 0.5rem;
}

.intake-form {
    font-family: "DIN-Next-W01-Light";
    justify-content: center;
    padding-top: 1rem;
    color: white;
    display: flex;
}

.intake-form form p {
    border-radius: 0;
}

.intake-form {
    width: 80vw;
    margin-left: 10vw;
}

.intake-form form input[type="text"] {
    border: 1px solid white;
}

.intake-form form input[type="email"] {
    /* Style email input fields */
    border: 1px solid white;
}


/* dropdown container */
.intake-form select {
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 0px;
}

/* Style the dropdown arrow */
.intake-form select::after {
    color: white;
    /* Set the color of the arrow */
    content: 'v';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    /* Make sure the arrow doesn't interfere with clicking on the dropdown */
}

/* make the "message:" above the box instead of to the left*/
#id_message_label {
    color: #fff;
    margin-bottom: 10px;
}

/* for the message box */
#id_message {
    background-color: black;
    color: white;

    /* Add additional styling if needed, such as padding and border */
    padding: 10px;
    border: 1px solid white;
    width: 100%;
}

.intake-form-btn {
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
    margin-top: 0;
    font-size: 1.5rem;
}



/* footer */
footer {
    display: block;
    width: 90%;
    border: 2px solid white;
    margin: 10% 5% 5% 5%;
    padding: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    flex-wrap: wrap;
}

/* the a and form targets all anchor/form elements within footer-links */
.footer-links a,
.footer-links form {
    margin: 0 20px;
    /* 0 vertical padding, 10px horizontal padding */
}

.footer-logo {
    padding: 1rem;
    display: block;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    margin-top: 2%;
    margin-bottom: 3%;
}

.fa {
    font-size: 2rem !important;
    padding: 5px;
    text-align: center;
    text-decoration: none;
}

.fa-instagram {
    background: black;
    color: white;
    border: 1px solid black;
}

.fa-instagram:hover {
    color: white;
    border: 1px solid white;
}

.contact-us {
    color: white;
    font-size: 1rem;
    border: 1px solid black;
    padding: 5px;
}

.contact-us:hover {
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.subscribe-footer {
    display: flex;
    border: 1px solid white;
}

input {
    background-color: black;
    color: white;
    height: 100%;
    border-radius: 0px;
}

::placeholder {
    font-family: "DIN-Next-W01-Light";
    font-size: 1rem;
    padding: 5px;
}

.subscribe-footer-button {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    position: relative;
    background-color: white;
    color: black;
    font-size: 1rem;
    height: auto;
    display: flex;
    align-items: center;
    /*
    padding: 3px 8px; */
}

.subscribe-footer-button:hover {
    background-color: black;
    color: white;
}

.coming-soon {
    font-family: "Avenir-LT-W01_85-Heavy1475544";
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-bottom: 10%;
}

.team-img {
    width: 100%;
    height: auto;
}

.team-text {
    font-family: "DIN-Next-W01-Light";
    font-size: 1.2rem;
    justify-content: center;
    color: white;
    margin-top: 3rem;
}

.pendulum {
    margin-top: 15%;
    /* center */
    margin-left: 50vw;
    transform: translate(-50%);
    width: 220px;
    /* adjustable */
    height: 200px;
    /* adjustable */
    background-color: black;
    border-radius: 5%;
    border-top: 15px solid white;
    position: relative;
}

.pendulum_box {
    display: flex;
    padding: 120px 0 0 10px;
    position: absolute;
    flex: 1;
}

.ball {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    position: relative;
    transform-origin: 50% -300%;
}

.ball::before {
    content: '';
    width: 2px;
    height: 120px;
    background-color: white;
    left: 18px;
    top: -120px;
    position: absolute;
}

.ball.first {
    animation: firstball .9s alternate ease-in infinite;
}

@keyframes firstball {
    0% {
        transform: rotate(35deg);
    }

    50% {
        transform: rotate(0deg);
    }
}

.ball.last {
    animation: lastball .9s alternate ease-out infinite;
}

@keyframes lastball {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-35deg);
    }
}

.plastic-classic-img {
    margin: auto;
    width: 100%;
    height: auto;
    max-height: 50vh;
    object-fit: contain;
}

.plastic-classic-text {
    top: 52vh;
}